<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title USTeenPregnancy
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="../stylesheets/style.css")
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          a.navbar-brand(href="#") USTPT
            //- the form should go through all of the posts
        .collapse.navbar-collapse#navbar-inverse
          ul.nav.navbar-nav.navbar-right 
            li.dropdown
              li: a( href="#about" ) About
              li: a( href="#stateInformation" ) State Information
              li: a( href="#compareStates") Compare States
    header
      div.header-content
        div.header-content-inner
          h1
    
    section#about
      div.container
        div.col-sm-10.col-sm-offset-1.text-center.story
          h1.section-heading 
            | United States Teen Pregnancy Trends, 2011: 
            br
            | State Trends by Age, Race and Ethnicity
          hr.light
          h4.text-left Teen pregnancy has been on the decline in the United States since its peak in 1991. In 2010, teen pregnancy rates were 44 percent lower than in 1991. This site uses D3.js graphs to visualize teen pregnancy trends in the United States.

    section#stateInformation
      div.container-fluid.transform
        p.section-heading.text-center#statename Click on a state
        div.row
          div.col-sm-1
          div.col-sm-3.img-responsive#pieChart
            //- div.col-sm-6
          div.col-sm-4.img-responsive#lineChart
            //- div.col-sm-4
          div.col-sm-1
          div.col-sm-3.img-responsive#barChart
              //- div.col-sm-6
        div.row
          div.col-sm-6.col-sm-offset-3
            div.map-svg-container#mapOne

    section#compareStates
      div.container-fluid
        div.row
          div.col-sm-4.col-sm-offset-1
            form.container#radios
              h3.text-center Age
              label #[input(type='radio' name='dataset' value='PR_15_19' class="column")]Pregnancy Rate 15-19
              label #[input(type='radio' name='dataset' value='PR_15_17' class="column")]Pregnancy Rate 15-17  
              label #[input(type='radio' name='dataset' value='PR_18_19' class="column")]Pregnancy Rate 18-19    
              label #[input(type='radio' name='dataset' value='BR_15_19' class='column')]Birth Rate 15-19
              label #[input(type='radio' name='dataset' value='BR_15_17' class='column')] Birth Rate 15-17
              label #[input(type='radio' name='dataset' value='BR_18_19' class='column')] Birth Rate 18-19
              label #[input(type='radio' name='dataset' value='AR_15_19' class='column')] Abortion Rate 15-19
              label #[input(type='radio' name='dataset' value='AR_15_17' class='column')] Abortion Rate 15-17
              label #[input(type='radio' name='dataset' value='AR_18_19' class='column')] Abortion Rate 18-19
              label #[input(type='radio' name='dataset' value='NoB_15_19' class='column')] Number of Births 15-19
              label #[input(type='radio' name='dataset' value='NoB_15_17' class='column')] Number of Births 15-17
              label #[input(type='radio' name='dataset' value='NoB_18_19' class='column')] Number of Births 18-19
              label #[input(type='radio' name='dataset' value='NoA_15_19' class='column')] Number of Abortions 15-19
              label #[input(type='radio' name='dataset' value='NoA_15_17' class='column')] Number of Abortions 15-17
              label #[input(type='radio' name='dataset' value='NoA_18_19' class='column')] Number of Abortions 18-19
              label #[input(type='radio' name='dataset' value='NoF_15_19' class='column')] Number of Fetal Losses 15-19
              label #[input(type='radio' name='dataset' value='NoF_15_17' class='column')] Number of Fetal Losses 15-17
              label #[input(type='radio' name='dataset' value='NoF_18_19' class='column')] Number of Fetal Losses 18-19
              label #[input(type='radio' name='dataset' value='POP_15_19' class='column')] Population Estimates Among Women 15-19
              label #[input(type='radio' name='dataset' value='POP_15_17' class='column')] Population Estimates Among Women 15-17
              label #[input(type='radio' name='dataset' value='POP_18_19' class='column')] Population Estimates Among Women 18-19
              h3.text-center Race
              label #[input(type='radio' name='dataset' value='PR_H' class='column')] Pregnancy Rate Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='PR_NHB' class='column')] Pregnancy Rate non-Hispanic Black 15-19
              label #[input(type='radio' name='dataset' value='PR_NHW' class='column')] Pregnancy Rate non-Hispanic White 15-19
              label #[input(type='radio' name='dataset' value='PR_NHO' class='column')] Pregnancy Rate non-Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='AR_H' class='column')] Abortion Rate Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='AR_NHB' class='column')] Abortion Rate non-Hispanic Black 15-19
              label #[input(type='radio' name='dataset' value='AR_NHW' class='column')] Abortion Rate non-Hispanic White 15-19
              label #[input(type='radio' name='dataset' value='AR_NHO' class='column')] Abortion Rate non-Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='BR_H' class='column')] Birth Rate Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='BR_NHB' class='column')] Birth Rate non-Hispanic Black 15-19
              label #[input(type='radio' name='dataset' value='BR_NHW' class='column')] Birth Rate non-Hispanic White 15-19
              label #[input(type='radio' name='dataset' value='BR_NHO' class='column')] Birth Rate non-Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='NoP_H' class='column')] Number of Pregnancies Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='NoP_NHB' class='column')] Number of Pregnancies non-Hispanic Black 15-19
              label #[input(type='radio' name='dataset' value='NoP_NHW' class='column')] Number of Pregnancies non-Hispanic White 15-19
              label #[input(type='radio' name='dataset' value='NoP_NHO' class='column')] Number of Pregnancies non-Hispanic 15-19
              label #[input(type='radio' name='dataset' value='NoA_H' class='column')] Number of Abortions Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='NoA_NHB' class='column')] Number of Abortions non-Hispanic Black 15-19
              label #[input(type='radio' name='dataset' value='NoA_NHW' class='column')] Number of Abortions non-Hispanic White 15-19
              label #[input(type='radio' name='dataset' value='NoA_NHO' class='column')] Number of Abortions non-Hispanic 15-19
              label #[input(type='radio' name='dataset' value='NoB_H' class='column')] Number of Births Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='NoB_NHB' class='column')] Number of Births non-Hispanic Black 15-19
              label #[input(type='radio' name='dataset' value='NoB_NHW' class='column')] Number of Births non-Hispanic White 15-19
              label #[input(type='radio' name='dataset' value='NoB_NHO' class='column')] Number of Births non-Hispanic 15-19
              label #[input(type='radio' name='dataset' value='NoF_H' class='column')] Number of Fetal Losses Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='NoF_NHB' class='column')] Number of Fetal Losses non-Hispanic Black 15-19
              label #[input(type='radio' name='dataset' value='NoF_NHW' class='column')] Number of Fetal Losses non-Hispanic White 15-19
              label #[input(type='radio' name='dataset' value='NoF_NHO' class='column')] Number of Fetal Losses non-Hispanic 15-19
              label #[input(type='radio' name='dataset' value='NoP_H' class='column')] Number of Pregnancies Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='NoP_NHB' class='column')] Number of Pregnancies non-Hispanic Black 15-19
              label #[input(type='radio' name='dataset' value='NoP_NHW' class='column')] Number of Pregnancies non-Hispanic White 15-19
              label #[input(type='radio' name='dataset' value='NoP_NHO' class='column')] Number of Pregnancies non-Hispanic 15-19
              label #[input(type='radio' name='dataset' value='POP_H' class='column')] Population Estimates among Hispanic 15-19 
              label #[input(type='radio' name='dataset' value='POP_NHB' class='column')] Population Estimates among non-Hispanic Black 15-19
              label #[input(type='radio' name='dataset' value='POP_NHW' class='column')] Population Estimates among non-Hispanic White 15-19
              label #[input(type='radio' name='dataset' value='POP_NHO' class='column')] Population Estimates among non-Hispanic 15-19
              //- div.col-sm-6
          div.col-sm-4.col-sm-offset-1
            div.map-svg-container#mapTwo







    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript' src="https://d3js.org/d3.v3.js" charset="utf-8")
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.10.0/d3-legend.min.js')
    script(type='text/javascript' src='../d3/map.js')
    script(type='text/javascript' src="../javascripts/piechart.js")
    script(type='text/javascript' src="../javascripts/lineChart.js")
    script(type='text/javascript' src="../javascripts/barChart.js")
    script(type='text/javascript' src="../javascripts/compareStates.js") 
      