<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8" name='viewport' content='width=device-width, initial-scale=1')
    title USTeenPregnancy
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="../stylesheets/style.css")
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          a.navbar-brand(href="#") USTPT
        .collapse.navbar-collapse#navbar-inverse
          ul.nav.navbar-nav.navbar-right 
            li.dropdown
              li: a( href="#about" ) About
              li: a( href="#stateInformation" ) State Information
              li: a( href="#compareStates") Compare States
    
    section#about
      div.container
        div.col-sm-10.col-sm-offset-1.text-center.story
          h1.section-heading 
            | United States Teen Pregnancy Trends
          hr.light
          h4.text-left This site uses D3.js graphs to visualize teen pregnancy trends in the United States. The data is from Kost K and Maddow‐Zimet I, 3 #[i U.S. Teenage Pregnancies, Births and Abortions, 2011: National Trends by Age, Race and Ethnicity,] New York: Guttmacher Institute, 2016. Here is a #[a(href="https://www.guttmacher.org/report/us-teen-pregnancy-trends-2011") link to the full report.] 
          br
          h4.text-left The report was orginally in PDF, but I was able to create an API by converting the file into a CSV, and inserted that it into a PSQL database. Once my database was set up, I was able to create routes in Node.js which returned the tables as JSON. My goal is to make the API public and to include other studies.
          br
          h6.text-left Please note teen refers to women aged 15-19

    section#stateInformation
      div.container.transform
        p.section-heading.text-center#stateName Click on a state
        div.row.graphRow
          div.col-xs-.col-xs-offset-3.col-sm-4.col-sm-offset-4.col-md-3.col-md-offset-0.col-lg-3.col-lg-offset-0.col-right#pieChart
          div.col-xs-6.col-xs-offset-3.col-sm-5.col-sm-offset-2.col-md-4.col-md-offset-0#lineChart
          div.col-xs-6.col-xs-offset-3.col-sm-8.col-sm-offset-2.col-md-3.col-md-offset-0#barChart
        div.row
          div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            div.map-svg-container#mapOne

    section#compareStates
      div.container
        div.row
          div.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-4.col-md-3.col-md-offset-0
            div.chooseOption.text-center
              button(type='button').btn.btn-lg.pull-left.ageButton Age
              button(type='button').btn.btn-lg.pull-right.raceButton Race
              div.compareOption.ageOption
                select(name='ageOption')#ageOption
                  optgroup(label='15-19')
                    option(value='PR_15_19') Pregnancy Rate 
                    option(value='AR_15_19') Abortion Rate 
                    option(value='BR_15_19') Birth Rate
                    option(value='NoA_15_19') Number of Abortions
                    option(value='NoB_15_19') Number of Births
                    option(value='NoF_15_19') Number of Fetal Losses 
                    option(value='POP_15_19') Population Estimates 
                  optgroup(label='15-17')
                    option(value='PR_15_17') Pregnancy Rate 
                    option(value='AR_15_17') Abortion Rate 
                    option(value='BR_15_17') Birth Rate
                    option(value='NoA_15_17') Number of Abortions
                    option(value='NoB_15_17') Number of Births
                    option(value='NoF_15_17') Number of Fetal Losses 
                    option(value='POP_15_17') Population Estimates 
                  optgroup(label='18-19')
                    option(value='PR_18_19') Pregnancy Rate 
                    option(value='AR_18_19') Abortion Rate 
                    option(value='BR_18_19') Birth Rate
                    option(value='NoA_18_19') Number of Abortions
                    option(value='NoB_18_19') Number of Births
                    option(value='NoF_18_19') Number of Fetal Losses 
                    option(value='POP_18_19') Population Estimates 
                button.btn.btn-sm.backButton Back
              div.compareOption.raceOption
                select(name='raceOption')#raceOption
                  optgroup(label='Hispanic')
                    option(value='PR_H') Pregnancy Rate
                    option(value='AR_H') Abortion Rate 
                    option(value='BR_H') Birth Rate 
                    option(value='NoP_H') Number of Pregnancies 
                    option(value='NoA_H') Number of Abortions
                    option(value='NoB_H') Number of Births
                    option(value='NoF_H') Number of Fetal Losses 
                    option(value='POP_H') Population Estimates
                  optgroup(label='non-Hispanic Black') 
                    option(value='PR_NHB') Pregnancy Rate
                    option(value='AR_NHB') Abortion Rate 
                    option(value='BR_NHB') Birth Rate 
                    option(value='NoP_NHB') Number of Pregnancies 
                    option(value='NoA_NHB') Number of Abortions
                    option(value='NoB_NHB') Number of Births
                    option(value='NoF_NHB') Number of Fetal Losses 
                    option(value='POP_NHB') Population Estimates
                  optgroup(label='non-Hispanic White')  
                    option(value='PR_NHW') Pregnancy Rate
                    option(value='AR_NHW') Abortion Rate 
                    option(value='BR_NHW') Birth Rate 
                    option(value='NoP_NHW') Number of Pregnancies 
                    option(value='NoA_NHW') Number of Abortions
                    option(value='NoB_NHW') Number of Births
                    option(value='NoF_NHW') Number of Fetal Losses 
                    option(value='POP_NHW') Population Estimates
                  optgroup(label='non-Hispanic Other')  
                    option(value='PR_NHO') Pregnancy Rate
                button.btn.btn-sm.backButton Back
          div.col-xs-12.col-xs-offset-0.col-sm-12.col-sm-offset-0.col-md-9.col-md-offset-0
            div.map-svg-container#mapTwo







    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript' src="https://d3js.org/d3.v3.js" charset="utf-8")
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.10.0/d3-legend.min.js')
    script(type='text/javascript' src='../d3/map.js')
    script(type='text/javascript' src="../javascripts/piechart.js")
    script(type='text/javascript' src="../javascripts/lineChart.js")
    script(type='text/javascript' src="../javascripts/barChart.js")
    script(type='text/javascript' src="../javascripts/compareStates.js") 
      