<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title USTeenPregnancy
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
    link(rel="stylesheet" href="../stylesheets/style.css")
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar-inverse", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          a.navbar-brand(href="#") USTPT
            //- the form should go through all of the posts
        .collapse.navbar-collapse#navbar-inverse
          ul.nav.navbar-nav.navbar-right 
            li.dropdown
              li: a( href="#about" ) About
              li: a( href="#stateInformation" ) State Information
              li: a( href="#compareStates") Compare States
    header
      div.header-content
        div.header-content-inner
          h1
    
    section#about
      div.container
        div.col-sm-10.col-sm-offset-1.text-center.story
          h1.section-heading 
            | United States Teen Pregnancy Trends, 2011: 
            br
            | State Trends by Age, Race and Ethnicity
          hr.light
          p Teen pregnancy, birth and abortion rates in the United States all reached new historic lows in 2011, according to two new analyses (national and state) from the Guttmacher Institute. In 2011, about 553,000 pregnancies occurred among teen women aged 15–19, for a national rate of 52.4 pregnancies per 1,000 women in that age-group. This is the lowest rate observed in the last four decades, and it marks a 23% decline from the 2008 teen pregnancy rate of 68.2. National teen birth and abortion rates have also declined sharply: in 2011, there were 31.3 births per 1,000 teen women (down from 40.2 in 2008) and 13.5 abortions per 1,000 teen women (down from 18.1 in 2008).
          p Although rates of teen pregnancy and its outcomes have declined among all racial and ethnic groups, wide disparities persist. In 2011, pregnancy rates among non-Hispanic black teens (92.6 per 1,000) and Hispanic teens (73.5 per 1,000) were more than double the pregnancy rate for non-Hispanic white teens (35.3 per 1,000). 

    section#stateInformation
      div.container-fluid
        p.section-heading.text-center#statename Click on a state
        div.row
          div.col-sm-1
          div.col-sm-3.img-responsive#pieChart
            //- div.col-sm-6
          div.col-sm-4.img-responsive#lineChart
            //- div.col-sm-4
          div.col-sm-1
          div.col-sm-3.img-responsive#barChart
              //- div.col-sm-6
        div.row
          div.col-sm-6.col-sm-offset-3
            div.img-responsive#mapOne

    section#compareStates
      div.container-fluid
        div.row
          div.col-sm-5
            form.container-fluid#radios
              label #[input(type='radio' name='dataset' value='PR_15_19' class="column")] Pregnacy Rate 15-19  
              label #[input(type='radio' name='dataset' value='BR_15_19' class='column')] Birth Rate 15-19  
              label #[input(type='radio' name='dataset' value='NoP_H' class='column')] Number of Pregnancies, Hispanic, 15-19 
              label #[input(type='radio' name='dataset' value='NoP_NHB' class='column')] Number of Pregnancies, Nonhispanic Black, 15-19
              label #[input(type='radio' name='dataset' value='NoP_NHW' class='column')] Number of Pregnancies, Nonhispanic White, 15-19
              label #[input(type='radio' name='dataset' value='NoP_NHO' class='column')] Number of Pregnancies, Nonhispanic Other, 15-19
          div.col-sm-6
            div.img-responsive#mapTwo






    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript' src="https://d3js.org/d3.v3.js" charset="utf-8")
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.min.js')
    script(type='text/javascript' src='../d3/map.js')
    script(type='text/javascript' src="../piechart.js")
    script(type='text/javascript' src="../lineChart.js")
    script(type='text/javascript' src="../barChart.js")
    script(type='text/javascript' src="../compareStates.js") 
      