#about{
  height:600px;
  background-color: #E2E3E4;
  width: 100%;
}

.story{
  margin-top: 50px;
}


#stateInformation{
  height:100%;
  width: 100%;
  background-color: #C3BA98;
}

.row{
  margin-top:3%;
}
#compareStates{
  height:700px;
  width: 100%;
  background-color: #E2E3E4;
}

/*#mapOne > .datamap{
 margin-left: -10%;
 width: 100%;

}*/

#mapOne {
  /*position: relative;*/
  width: 100%
}

#mapTwo{
 /*margin-left: -45px;*/
 width: 100%
}

#statename{
  margin-top: 20px;
  font-size: 37px;
}

#mapTwo{
  margin-top: 15px
}


.tick{
  font-size: 10px;
}

.data_line text{
  font-size: 12px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.ylabel{
  font-size: .85em;
} 

.xlabel {
  font-size: 1em;
}


.grid path,
.grid line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.25);
  shape-rendering: crispEdges;
}


.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2.5px;
}


/**{border:1px red solid;}*/

#barChart div{
    font-size: 0.7em;
    font-family: sans-serif;
    color: black;
    background-color: #9D7274;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;

}
