#about{
  height:600px;
  background-color: #E2E3E4;
  width: 100%;
}

.story{
  margin-top: 50px;
}

/*US Maps*/
#mapOne {
  width: 100%;
  margin-top: -15px;
}

#mapTwo{
 width: 100%;
 /*margin-top: 15px;*/
}

#mapTwo svg{
  margin-top: 55px;
}

/*Invidual State Infor */
#stateInformation{
  /*height:760px;*/
  width: 100%;
  background-color: #C3BA98;
  padding-bottom: 40px
}


/*compare by  table column by value*/
#compareStates{
  height:700px;
  width: 100%;
  background-color: #E2E3E4;
}

#radios{
  margin-top: 50px;
  display: block;
  width: 440px;
  height: 400px;
  overflow: auto;
  padding: 5px;
  border: 1px solid black;
  padding: 10px;
  padding-left: 25px;
}



.column{
  display: block;
}

label{
  display: flex;
  font-family: 'Raleway';
}

input[type=radio]{
  width: 30px;
}



/* StateInfor Title*/
#statename{
  margin-top: 20px;
  font-size: 37px;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

/*lineChart*/
.tick{
  font-size: 10px;
}

.data_line text{
  font-size: 12px;
}

.axis {
    font: 10px sans-serif;
  }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.ylabel{
  font-size: .85em;
  fill: #E2E3E4;
} 

.xlabel {
  font-size: 1em;
  fill: #E2E3E4;
}



.grid path,
.grid line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.25);
  shape-rendering: crispEdges;
}


.x.axis path {
  display: none;

}

.x.axis,.y.axis{
  fill: #E2E3E4;
}

.line {
  fill: none;
  stroke-width: 2.5px;
}


/**{border:1px red solid;}*/

/*bar and pie */
#barChart div {
    font-size: 0.8em;
    color: #E2E3E4;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;

}

.barTitle{
  display: flex;
  margin-left: 40px;
}

.legend {
  display: block;
  color: #E2E3E4;
  float:left;
  width: 40%;
}

.pieValue, .legend{
  stroke: #E2E3E4;
  fill: #E2E3E4;
  font-weight: 300;
  font-style: medium;

}







